h2 {
  font-size: 4rem;
}

button {
  height: 5rem;
  width: 5rem;
  border-radius: 100%;
  box-sizing: border-box;
  border: 0.25rem solid var(--bg);
  outline: var(--system-gray) solid 0.25rem;
  background-color: var(--system-gray);
  color: var(--system-white);
  font-size: 1rem;
}

button:hover {
  cursor: pointer;
}

button:active {
  outline: rgba(54, 51, 55, 0.4) solid 0.25rem;
  background-color: rgba(54, 51, 55, 0.4);
}

.stopwatch-container {
  display: flex;
  flex-direction: column;
  background-color: var(--system-black);
  color: var(--system-white);
  width: 100%;
  max-width: 300px;
  padding: 0 1.5rem;
  border-radius: 1rem;
  overflow: hidden;
}

.stopwatch-container > * {
  height: 50vh;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
