:root {
  --system-black: #000;
  --system-white: #fff;
  --system-gray: #363337;
  --system-red: #ff3b30;
  --system-green: #34c759;

  --bg: var(--system-black);
}

@font-face {
  font-family: "SF Pro";
  src: url("../assets/fonts/SFProText-Light.ttf") format("opentype");
}

body {
  margin: 0;
  font-family: "SF Pro", "Roboto", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
